section#sec-calculadora-desconto {
    min-height: 500px;
}

p {
    margin-top: 50px;
    margin-bottom: 50px;
}
p#p-txt-01 {
    margin-bottom: 50px;
}
p#p-txt-03{
    font-size: 12px;
    margin-bottom: 50px;
    margin-top: 0px;
}
label, select, input,
#trfUsuarioNaConta,
#resultadoCalculo{
    display: block;
    margin: 25px;
}
input#trfUsuario {
    width: -webkit-fill-available;
}
select#selectConcessao {
    margin: auto;
    text-align: center;
    width: 50%;
}
#resultadoCalculo,
#div-trfUsuario,
section#formulario-calculo-lead{
    display: none;
    max-width: 675px;
    margin: auto;
}
div#calculadoraEconomia,
div#resultadoCalculo {
    margin: auto;
    text-align: center;
}

div#calculadoraEconomia,
div#resultadoCalculo {
    max-width: 675px;
}

span#economiaTotal12,
span#economiaTotal01 {
    background-color: orange;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
    color: white;
}

button#btn-queroEconomizar {
    margin-bottom: 50px;
    background-color: orange;
    color: white;
    border: 0px;
}