html {
    scroll-behavior: smooth;
}


/** Remover Header e BreadCrumb do Tema Atual + Setup da Página **/
/* section#breadcrumb-area,
header#header-section{
    display: none;
}
div#sfsi_plus_floater {
    display: none;
}
.section-padding {
    padding: 0px 0px 0px 0px !important;
} */


section#headerCalculadora {
    background-image: url(../img/header.jpg);
    height: 350px;
    width: 100%;
    background-color: antiquewhite;
    background-size: cover;
    background-position: center;
}


section#sec-calculadora-desconto {
    min-height: 500px;
}


h2#h2Titulo {
    font-weight: 600;
}


p {
    margin-top: 50px;
    margin-bottom: 50px;
}
p#p-txt-01 {
    margin-bottom: 15px;
}
p#p-txt-02 {
    display: none;
}
p#p-txt-03{
    font-size: 12px;
    margin-bottom: 70px;
    margin-top: 0px;
}


select#selectConcessao {
    margin: auto;
    text-align: center;
    width: 50%;
    border: 2px solid orange;
    background-color: antiquewhite;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 100px;
}
@media only screen and (max-width: 600px){
    select#selectConcessao { 
        width: 100%;
    }
}


label, select, input,
#trfUsuarioNaConta,
#resultadoCalculo{
    display: block;
    margin: 4px 0px 50px 0px;
}


label#lblConcessao {
    margin-top: 100px;
    font-weight: bold;
}


input#trfUsuario {
    width: -webkit-fill-available;
}
input#trfUsuario {
    padding: 3px;
    height: 0px;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 15px !important;  
    background: #d3d3d3;
    outline: none;
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 15px; 
    background: orange;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: orange;
    cursor: pointer;
}


div#trfUsuarioNaConta {
    font-weight: bold;
}


#resultadoCalculo,
#div-trfUsuario,
section#formulario-calculo-lead{
    display: none;
    max-width: 675px;
    margin: auto;
}
div#calculadoraEconomia,
div#resultadoCalculo {
    margin: auto;
    text-align: center;
}


div#calculadoraEconomia,
div#resultadoCalculo {
    max-width: 675px;
}


span#economiaTotal12,
span#economiaTotal01 {
    background-color: orange;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
    color: white;
}


button#btn-queroEconomizar {
    margin-bottom: 50px;
    background-color: orange;
    color: white;
    border: 0px;
    font-weight: bold;
}


section#formulario-calculo-lead {
    padding: 2%;
    background-color: blanchedalmond;
    border-radius: 15px;
    margin-bottom: 50px;
}
@media only screen and (max-width: 600px){
    section#formulario-calculo-lead {
        padding: 30px;
    }
}